<div style="text-align: center">
    <h1 style="color: #f66;">您访问的页面不存在</h1>
</div>

<div style="text-align: center">
    <a href="index" style="color: darkgreen; font-weight: bold;">点击此处跳转到12320便捷预约挂号首页</a>
</div>