<!doctype html>
<html>
<head>
    <title>拒绝访问</title>
    <style type="text/css">
        .div {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            color: #f55;
        }

        .ib {
            display: -moz-inline-stack;
            display: inline-block;
            zoom: 1;
            *display: inline;
        }
    </style>
</head>
<body>
<div class="div">
    同一时间同一IP只允许一个人进行挂号！
</div>
<br/>
<br/>

<div class="div" style="color: orange; padding-left: 100px;;">
    提示：更换浏览器可能导致此问题，您可以
        1. 切换到之前浏览器；<br/>
        2. 继续使用该浏览器只能在等待10分钟后进行挂号。
</div>
</body>
</html>