<!doctype html>
<html>
<head>
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>

    <style type="text/css">
        .num {
            color: #f00;
            font-weight: bold;
            font-size: 2em;
            font-style: normal;
            font-family: Arial;
        }

        .info {
            line-height: 50px;
            font-size: 24px;
            text-align: center;
        }

        .warn {
            color: #f55;
            line-height: 50px;
            font-size: 24px;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function tryAccess() {
            var xhr = jQuery.ajax({
                url: 'async/queryQueuingPosition',
                cache: false,
                dataType: "json"
            });

            xhr.done(function(data) {
                if (data.success && parseInt(data.data) < 1) {
                    location.href = "step01";
                } else {
                    var order = parseInt(data.data);
                    $(".num").html(order);
                    setTimeout(tryAccess, 5000);
                }
            });

            xhr.fail(function(data) {
                $("#loading").html('加载失败！');
            });

        }
        $(function () {
            tryAccess();
        });
    </script>
</head>
<body>
<div>
    <div id="box" style="display: none;">
        <div class="info">
            您正在排队挂号，前面还有<i class="num"></i>位用户。
        </div>

        <div class="warn">
            请勿刷新页面，否则将会导致重新排队！
        </div>
    </div>
    <div id="loading" style="text-align: center;">
        <h3>加载中。。。请稍后</div></h3>
</div>
</body>
</html>