<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>填写资料</title>
    <style type="text/css">
        .txt {
            width: 250px;
            outline: none;
        }

        .tb td {
            padding: 5px 5px;
        }

        .err {
            color: #f00;
            font-weight: bold;
        }
    </style>

    <script type="text/javascript">
        function check_form() {
            var val = $("#agreement").is(":checked");

            if (val == true) {
                $("#agree").css('display', 'none');
                return true;
            } else {
                $("#agree").css('display', '');
                return false;
            }

        }

        $(function () {
            $("#id").blur(function () {
                var id = jQuery.trim($("#id").val());
                if (id == '') return;

                var xhr = jQuery.ajax({
                    type: "POST",
                    url: "query_by_id",
                    data: {id: id},
                    dataType: "json"
                });

                xhr.done(function (data) {
                    console.log(data);
                    if (data.success) {
                        $("#phone").val(data.phone);
                        $("#phone_hid").val(data.phone);
                        $("#name").val(data.name);
                        $("#phone").prop("disabled", true);
                        $("#name").prop("disabled", true);
                        $("#chg_phone").show();
                        $("#phone_validate_row").hide();
                        $("#new_phone_row").hide();
                        $("#chg_phone").val("更改手机");
                    } else {
                        $("#phone").prop("disabled", false);
                        $("#name").prop("disabled", false);
                        $("#phone").val("");
                        $("#name").val("");
                        $("#name").focus();
                        $("#phone_validate_row").show();
                        $("#chg_phone").hide();
                    }
                });
            });


            $("#chg_phone").click(function () {
                var t = $(this);
                if(t.val() == "更改手机") {
                    $("#phone_validate_row").show();
                    $("#new_phone_row").show();
                    t.val("取消更改");
                } else {
                    $("#phone_validate_row").hide();
                    $("#new_phone").val('');
                    $("#check_code").val('');
                    $("#new_phone_row").hide();
                    t.val("更改手机");
                }
            });


//            $("#phone").blur(function () {
//                var newVal = $("#phone").val();
//                var oldVal = $("#phone_hid").val();
//
//                if (newVal != oldVal) {
//                    $("#phone_validate_row").css('display', '');
//                }
//            });
        });
    </script>
</head>

<body>

<div class="col-left">
    <ul class="menu">
        <li><a href="javascript:void(0)" class="menu-title">网上便捷预约挂号</a></li>
        <li><a href="javascript:void(0)" class="menu-fh12320sy">&nbsp;</a></li>
        <li><a href="javascript:void(0)" class="menu-fhbjyyghsy">&nbsp;</a></li>
        <li><a href="queryRegister_toQueryRegisterList" class="menu-lscx">&nbsp;</a></li>

    </ul>
</div>

<div class="col-right">
    <div class="step01"></div>
    <div class="right-cont">


        <form action="step01_post_action" method="post">

            <table class="tb">
                <colgroup>
                    <col style="width: 90px; text-align: right;"/>
                    <col/>
                    <col style="width: 250px;"/>
                </colgroup>

                <tbody>
                <tr>
                    <td colspan="3" style="color: #f66; font-weight: bold; font-size: 16px;">
                        第一次使用或更换手机，需要进行手机验证。
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">身份证号</td>
                    <td>
                        #if($id)
                            <input type="text" class="txt" id="id" name="id" value="$id"/>
                        #else
                            <input type="text" class="txt" id="id" name="id" value=""/>
                        #end
                    </td>


                    <td>必须输入18个字符，只允许输入数字和英文字母</td>
                </tr>

                    #if($fieldErrors.get('id'))
                    <tr>
                        <td></td>
                        <td colspan="2" class="err">$fieldErrors.get('id')</td>
                    </tr>
                    #end




                ###################################################################################
                <tr>
                    <td style="text-align: right">姓　　名</td>
                    <td>
                        #if($name)
                            <input type="text" disabled="disabled" class="txt" name="name" id="name" value="$name"/>
                        #else
                            <input type="text" disabled="disabled" class="txt" name="name" id="name" value=""/>
                        #end
                    </td>

                    <td>请与证件上的名字一致</td>
                </tr>

                    #if($fieldErrors.get('name'))
                    <tr>
                        <td></td>
                        <td colspan="2" class="err">$fieldErrors.get('name')</td>
                    </tr>
                    #end

                    #if($fieldErrors.get('id-name'))
                    <tr>
                        <td></td>
                        <td colspan="2" class="err">$fieldErrors.get('id-name')</td>
                    </tr>
                    #end



                ###################################################################################
                <tr>
                    <td style="text-align: right">手机号码</td>
                    <td>
                        #if($phone)
                            <input type="hidden" id="phone_hid" name="phone_hid" value="$phone"/>
                            <input type="text" disabled="disabled"
                                   class="txt" name="phone" id="phone" value="$phone"
                                   style="width: 120px;"/>
                        #else
                            <input type="hidden" id="phone_hid" name="phone_hid"/>
                            <input type="text" disabled="disabled"
                                   class="txt" name="phone" id="phone"
                                   style="width: 120px;"/>
                        #end

                        <input type="button" style="display: none;" id="chg_phone" value="更改手机"/>
                    </td>
                    <td>用于接收就诊提醒短信</td>
                </tr>


                    #if($fieldErrors.get('phone'))
                    <tr>
                        <td></td>
                        <td colspan="2" class="err">$fieldErrors.get('phone')</td>
                    </tr>
                    #end


                ###################################################################################
                <tr id="new_phone_row" style="display: none;">
                    <td style="text-align: right">新手机号码</td>
                    <td>

                        <input type="text" class="txt" name="new_phone" id="new_phone" style="width: 120px;"/>

                    </td>
                    <td>请输入新手机号码</td>
                </tr>


                ###################################################################################
                <tr style="display: none;" id="phone_validate_row">
                    <td style="text-align: right">手机验证码</td>
                    <td>
                        <input type="text" name="check_code" id="check_code" style="width: 120px"/>
                        <input type="button" value="发送"/>
                    </td>
                    <td style="color: #f66;">先点击发送按钮，然后输入手机收到的短信验证码</td>
                </tr>

                <tr>
                    <td style="text-align: right">就诊类型</td>
                    <td>
                        <select name="medicalType" id="medicalType">
                            <option value="0">自　　费</option>
                            <option value="1">市民卡</option>
                        ##                            <option value="2">园区医保</option>
                        </select>
                    </td>
                    <td>请选择就诊医保类型，园区医保暂不支持，吴江市民卡暂不支持预约。</td>
                </tr>
                ##                <tr>
                ##                    <td>市民卡号<br/>医保编号</td>
                ##                    <td>
                ##                        <input type="text" class="txt" id="cardId" name="cardId"/>
                ##                    </td>
                ##                    <td></td>
                ##                </tr>
                ##                <tr>
                ##                    <td>验证码</td>
                ##                    <td><input type="text" class="txt" name="code"/></td>
                ##                    <td>看不清，点击图片换一张</td>
                ##                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="checkbox" id="agreement" checked="true"/>
                        <label for="agreement">&nbsp;
                            我已阅读并接受《苏州市预约挂号服务平台服务协议》
                            <a href="pages/licence.jsp" target="_blank">
                                点击查看
                            </a>
                        </label>
                    </td>
                </tr>

                <tr id="agree" style="display: none;">
                    <td colspan="3" style="color: #f00; font-weight: bold;">
                        必须同意《苏州市预约挂号服务平台服务协议》才能进行挂号！
                    </td>
                </tr>


                <tr>
                    <td colspan="3" style="text-align: center">
                        <input type="submit" class="submit-btn" onclick="return check_form()" value="下一步"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>

