<div style="color: #f00; font-weight: bold; font-size: 36px; text-align: center">
    $errMsg



</div>

<br/>
<br/>
<div style="text-align: center;">
    <input name="input" type="button" value="返回"
           class="btnNormal" onclick="javascript:history.go(-1)"/>
</div>

