<div id="footer" style="text-align: center; padding: 5px 0;">

    <i style="font-family: Arial;">&copy;</i>&nbsp;2009-2010&nbsp;苏州市卫生局&nbsp;苏州市12320公共卫生热线服务网
    <br/>
    地址：苏州市十梓街369号&nbsp;邮编：215006&nbsp;备案序号&nbsp;苏ICP备12118815号
</div>